.dropdown-table {
    .dropdown {
    	display: none; 	
    		li {
    			padding: 1em;
    			border-top: 1px dashed $border;
    				&:first-child {
    					margin-top: 1em;
    				}
    		}
	}
	.active .dropdown {
    	display:  block;
    }
    > ul > li {
    	&:nth-child(2n){
    		background: $row-dark;
    	}
    	&.dropdown-body {
    		border-top: 2px solid lighten($border, 60);
    			li {
    				padding: .5em 0;
    			}
    			.dropdown li{
    				padding: 1em;
    			}
    			.table-actions {
    				padding: 0;
    			}
    	}
    }

    .col-md-12{
        padding-right: 0;
    }

    h5{
        padding: 9px 0;
    }

.btnEdit  {
    padding: 10px 0;
    background-color: $main-color;
	color: $background;
    border-radius: 0;
	
    &:hover, &:focus {
		background: $background;
		color: $main-color !important;
	   }
    }
.btn-add{
    padding: 10px 0;
    background-color:$main-color;
    border-radius: 0;
    color: $text-clear;
    border-top: 2px solid #929292;
    &:hover{
        color: $text-clear;
        opacity: 0.8;
    }
}    
}

