/* Login page styles */
#login-page {
	background: url(../images/login-gradient.jpg) repeat;
}
.btnEnter{
	background-color:$main-color;
	width:100%;
	color:$text-clear;
}

.recoverPassword {
	width: 100%;
	display: inline-block;
	margin-top: 1em;
}

.login-logo {
	&.img-responsive {
    	margin: 0 auto;
	}
}

.add-participants{
	margin-top: 40px;
	
	h4{
		font-size: 1.25em;
		padding-bottom: 1em;
		color: $titles;
	}

	form{
		padding-top: 40px;
	}
	input[type="date"] {
		line-height: 1em;
		padding: .25em 0 .25em 1em;
	}
	.team-list {
		.team-list-header {
			padding: 0;
			> ul li {
				padding: 1em;
				background: $anchors;
				color: $text-clear;
			}
		}
	}
	.team-list-item {
		padding: 1em;
		background: $background;
			&:not(:last-child){
				border-bottom: 1px dashed lighten($border,50);
			}
	
	}
	.participants-list {
		margin-top: 1em;
	}
}

.list {
	.list-header {
		padding: 0;
		> ul li {
			padding: 1em;
			background: $anchors;
			color: $text-clear;
		}
	}
	.list-item {
		padding: 1em;
		background: $background;
			&:not(:last-child){
				border-bottom: 1px dashed lighten($border,50);
			}
	
	}
}

.add-careers{
	.careers-list{
		margin-top: 1em;
	}
	h5{
		padding: 2px 8px 2px 2px;
	}
	.img-less{
		float: right;
	}
}

form{
	background: $background;
	padding: 20px 15px;
	min-width: 360px;

	label{
		color:$text;
		font-weight:normal;
		margin:5px 8px;
		padding-top:5px
	}
	.select-arrow{
		background:url(../images/btnSelect.png) no-repeat;
	}
	.arrow-input{
		background:url(../images/arrowInput.png) no-repeat;
	}
	.select-arrow,.arrow-input{ 
		background-position:right;
		background-color:white;
		-webkit-appearance: none;
    	-moz-appearance: none;
	}
	.btn-add,.btn-edit{
		margin-top:2em;
		background-color:$main-color;
		color:$text-clear;
		float: right;
		margin-right: 1em;
		width: 90px;
	}
	&.login-form {
		margin: 2em 0;
	}
	.img-plus{
		margin: 2em 0 0 3%;
		width:auto;
	}
	.foto{
		border: solid 1px #ccc;
		border-radius: 4px;
	}
	span{
		color: $anchors;
	}

}
.centered{
	float: none;
	margin: 0 auto;
}
.user-form{

		.btn-file {
    		position: relative;
    		overflow: hidden;
		}
		.btn-file input[type=file] {
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	min-width: 100%;
	    	min-height: 100%;
	    	font-size: 100px;
	    	text-align: right;
	    	filter: alpha(opacity=0);
	    	opacity: 0;
	    	outline: none;
	    	background: white;
	    	cursor: inherit;
	    	display: block;
		} 
		// .img-plus{
		// 	margin-top: 35px;
		// }
		
	.message{
		margin-top: 40px;
		p{
			color: $anchors;
			text-align: right; 
		}
	}	
		
}



.btn-close{
	padding-bottom: 10px;
}

.ng-invalid.ng-dirty{
	border-color: #FA787E;
}
 .ng-valid.ng-dirty{
 	border-color: #78FA89;
 }
