/* Login page styles */

.teamMemberList {
	margin-top: 1em;
}	

.ng-invalid.ng-dirty.ng-touched {
	border-color: #F1868D;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#login-page {
	background: url(../images/login-gradient.jpg) repeat;
}
.btnEnter{
	background-color:$main-color;
	width:100%;
	color:$text-clear;
}

.recoverPassword {
	width: 100%;
	display: inline-block;
	margin-top: 1em;
}

.login-logo {
	&.img-responsive {
    	margin: 0 auto;
	}
}

.add-participants{
	margin-top: 40px;
	
	h4{
		font-size: 1.25em;
		padding-bottom: 1em;
		color: $titles;
	}

	form{
		padding-top: 40px;
	}
	input[type="date"] {
		line-height: 1em;
		padding: .25em 0 .25em 1em;
	}
	.team-list {
		.team-list-header {
			padding: 0;
			> ul li {
				padding: 1em;
				background: $anchors;
				color: $text-clear;
			}
		}
	}
	.team-list-item {
		padding: 1em;
		background: $background;
			&:not(:last-child){
				border-bottom: 1px dashed lighten($border,50);
			}
	
	}
	.participants-list {
		margin-top: 1em;
	}
}

.list {
	.list-header {
		padding: 0;
		> ul li {
			padding: 1em;
			background: $anchors;
			color: $text-clear;
		}
	}
	.list-item {
		padding: 1em;
		background: $background;
			&:not(:last-child){
				border-bottom: 1px dashed lighten($border,50);
			}
	
	}
}

.add-careers{
	.careers-list{
		margin-top: 1em;
	}
	h5{
		padding: 2px 8px 2px 2px;
	}
	.img-less{
		float: right;
	}
}

select {
	padding: .5em;
    margin: 0;
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
   	border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    	option {
			text-align: left;
			padding: .25em 1em;
    	}
}

.available-points {
	font-size: 1.25em;
	font-weight: normal;
	padding: 1em 0;
		strong {
			color: $anchors;
		}
}

form{
	background: $background;
	padding: 20px 15px;
	min-width: 360px;

	label{
		color:$text;
		font-weight:normal;
		margin:5px 8px;
		padding-top:5px
	}
	.select-arrow{
		background:url(../images/btnSelect.png) no-repeat;
	}
	.arrow-input{
		background:url(../images/arrowInput.png) no-repeat;
	}
	.select-arrow,.arrow-input{ 
		background-position:right;
		background-color:white;
		-webkit-appearance: none;
    	-moz-appearance: none;
	}
	.btn-add,.btn-edit{
		margin-top:2em;
		background-color:$main-color;
		color:$text-clear;
		float: right;
		margin-right: 1em;
		width: 90px;
	}
	&.login-form {
		margin: 2em 0;
	}
	.img-plus{
		margin: 2em 0 0 3%;
		width:auto;
	}
	.foto{
		border: solid 1px #ccc;
		border-radius: 4px;
	}
	span{
		color: $anchors;
	}

	.message{
		margin-top: 40px;
		p{
			color: $anchors;
			text-align: right; 
		}
	}

}
.centered{
	float: none;
	margin: 0 auto;
}
.user-form{

		.btn-file {
    		position: relative;
    		overflow: hidden;
		}
		.btn-file input[type=file] {
	    	position: absolute;
	    	top: 0;
	    	right: 0;
	    	min-width: 100%;
	    	min-height: 100%;
	    	font-size: 100px;
	    	text-align: right;
	    	filter: alpha(opacity=0);
	    	opacity: 0;
	    	outline: none;
	    	background: white;
	    	cursor: inherit;
	    	display: block;
		} 
		// .img-plus{
		// 	margin-top: 35px;
		// }	
		
}



.btn-close{
	background: $main-color;
	color: $background;
	font-weight: bold;
	border-radius: 50%;
	font-size: 10px;
	width: 30px;
	height: 30px;
}

.btn-asign {
	margin-top: 1em;
}

.register-sucess {
	font-size: 1.5em;
	padding: 0 0em .5em 0;
	margin: 0 0em .5em 0;
	border-bottom: 1px dashed black;
}

.error-feedback {
	//----- USER STYLISH -----//
	padding : .5em 1em;
	margin: .5em 0;
	border-radius: 5px;
	position: relative;
	color: $dark-highlight;
	background: lighten($soft-highlight,8);
		&::after {
				content:'';
			    display:block;
			    width:0;
			    height:0;
			    position:absolute;
			    border-top: 8px solid transparent;
			    border-bottom: 8px solid transparent;
			    border-right:8px solid lighten($soft-highlight,8);
			    left:-8px;
			    top: 10px;
		}
}