nav .navbar-nav {
  .menu-item {
    background  : $main-color;
    &:hover { 
      opacity: .9; 
    }
    &:not(:last-child) {
      border-right: 2px solid $background;
    }
      a {
        color   : $text-clear; 
          &:hover, &:focus{ 
            color : $text-clear;
          }
      }
  }
}