.viewInfo{
	color:$text;
	background-color: $background ;
}
.containerInfo{
	background-color: $row-dark ;
}
.info{
	width: 100%;
}
.colorAdmin{
	background-color: $titles;

}
.colorUser{
	background-color:$main-color;
}

.page {
	li{
		color: white;
		width: 20%;
		text-align: center;
	}
}
.search {
	input{
		vertical-align: bottom;
	}
}

.infoTable{
	width: 100%;
	margin: 0 auto;
	padding-top: 2.5em;
}

.tableWidth{
	width:100%;
}

.moveRight{
	text-align:right;
	margin:0;
	padding:0;
}

.infoTable{
	
	.table{
		margin-bottom: 0;
	}

.btnEdit{
	background-color:$main-color;
	border-radius: 0;
	&:hover{
		background-color:$background;
	}
}
.btnEdit{
 	a{
 		color: white;
 	}
}

.btn-add{
	padding: 10px 0;
	background-color:$main-color;
	border-radius: 0;
	color: $text-clear;
	border-top: 2px solid #929292;;
	&:hover{
		color: $text-clear;
		opacity: 0.8;
	}
}

}


.displayInfo{
	td {
		border-top:0;
		padding:0;
		margin:0;
	}
}

.displayInfo{
	td {
		border-color: $text;
		border-top:1px solid;
	}
}

.prueba{margin: 0 auto}



.infoConsult {
	p {
		float: left;
		color: white;
		text-align: center;
		/* width: 20%; */
	}
}


.divSearch{
	background-color: $row-dark ;
	padding-top: 2.5em;
}

.dataTable{
	width: 100%;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}
.slate   { background-color: #ddd; }
.formSelect{
	width:100%;
}

.selectInfo {
	   background: url(../images/btnSelect.png) no-repeat right #ddd;
	-webkit-appearance: none;
	-moz-webkit-appearance: none;
	width:100%;
	color:$text;
	background-color: white;
	color: $border;
}

table {
	tbody {
		tr {
			border-top: 2px solid lighten($border, 50);
				td {
					vertical-align: middle !important;
					&.actions {
						background: $main-color;
						color: $text-clear;
						font-weight: bold;
					}
				}
		}
	}
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #dadad9;
}