.viewInfo{
	color:$text;
	background-color: $background ;
}
.containerInfo{
	background-color: $row-dark ;
}
.info{
	width: 100%;
}
.colorAdmin{
	background-color: $titles;

}
.colorUser{
	background-color:$main-color;
}

.page {
	li{
		color: white;
		width: 20%;
		text-align: center;
	}
}
.search {
	input{
		vertical-align: bottom;
	}
}

.infoTable{
	width: 100%;
	margin: 0 auto;
}

.tableWidth{
	width:100%;
}

.moveRight{
	text-align:right;
	margin:0;
	padding:0;
}

.infoTable{
	
	.table{
		margin-bottom: 0;
	}

.btnEdit{
	border-radius: 0;
}
.btnEdit{
	background: transparent;
 	a{
 		color: $main-color;
 	}
}

.btn-add{
	padding: 10px 0;
	background-color:$main-color;
	border-radius: 0;
	color: $text-clear;
	border-top: 2px solid #929292;
	&:hover{
		color: $text-clear;
		opacity: 0.8;
	}
}

}

.displayInfo{
	td {
		border-top:0;
		padding:0;
		margin:0;
	}
}

.displayInfo{
	td {
		border-color: $text;
	}
}

.prueba{margin: 0 auto}



.infoConsult {
	p {
		float: left;
		color: white;
		text-align: center;
		/* width: 20%; */
	}
}

.search-bar {
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.divSearch{
	background-color: $row-dark ;
	padding-top: 2.5em;
}

.dataTable{
	margin-top: 2em;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}
.slate   { background-color: #ddd; }
.formSelect{
	width:100%;
}

.selectInfo {
	   background: url(../images/btnSelect.png) no-repeat right #ddd;
	-webkit-appearance: none;
	-moz-webkit-appearance: none;
	width:100%;
	color:$text;
	background-color: white;
	color: $border;
}

table {
	tbody {
		tr {
				td {
					vertical-align: middle !important;
					&.actions {
						color: $main-color;
						font-weight: bold;
							button {
								&:hover {
									color: $main-color;
									background: $text-clear;
								}
							}
					}
				}
		}
	}
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #dadad9;
}


$sR: $main-color;
$sRLight: $main-color + #222;
$sRDark: $main-color - #222;
$darkGrey:#6b6b6b;
$offWhite:#f6f3f7;
$bg:#f6f3f7 - #111;
$darkBg:#f6f3f7 + #222;

*{  
  margin:0;
  padding:0;
  font-family:Lato;
}

body{
  padding:0px;
  background:$bg;
}

.flatTable{  
  width:100%;
  min-width:500px;
  border-collapse:collapse;  
  font-weight:bold;
  color:$darkGrey;
  
  tr{
    height:50px;
    background:$darkBg;
    border-bottom:rgba(0,0,0,.05) 1px solid;
  }
  
  td{    
    box-sizing:border-box;
    padding-left:30px;
    
  }

.titleTr{
  height:70px;  
  color:#f6f3f7; 
  background:$sR;  
  border:0px solid;
}

.plusTd{
    background:url(http://i.imgur.com/3hSkhay.png) center center no-repeat, rgba(0,0,0,.1);
}

.controlTd{  
  position:relative;
  width:80px;
  background:url(http://i.imgur.com/9Q5f6cv.png) center center no-repeat;
  cursor:pointer;
}

.headingTr{
    height:30px;
    background:$sRLight;
    color:$offWhite; 
    border:0px solid;
}  
}

.button{
  text-align:center;
  cursor:pointer;
}

.sForm{
  position:absolute;
  top:0;
  right:-400px;
  width:400px;
  height:100%; 
  background:$darkBg;  
  overflow:hidden;  
  transition:width 1s, right .3s;
  padding:0px;
  box-sizing:border-box;
  
  .close{

    height:70px;
    width:80px;
    padding-top:25px;    
    box-sizing:border-box;
    background:rgba(255,0,0,.4);
      
  }
  
  .title{
    width:100%;
    height:70px;
    padding-top:20px;
    padding-left:20px;
    box-sizing:border-box;
    background:rgba(0,0,0,.1);
  }
}
.open{  
  right:0;
  width:400px !important;
}

.settingsIcons{
  position:absolute; 
  top:0;
  right:0;
  width:0;

  overflow:hidden;

}

.display{

  width:300px;
}

.settingsIcon{
  background:$sR;
  color:$offWhite;
  height:50px;
  width:80px;
  padding-top:15px;
  box-sizing:border-box;
  text-align:center;
  overflow:hidden;
  transition:width 1s;
}

.settingsIcon:hover{
  background:$sRDark;
}

tr:nth-child(3){
   .settingsIcon{
    height:51px;
  }
}

.openIcon{
   width:80px; 
}
.colorBack{
  height: 70px;
  color: #f6f3f7;
  background: #7c2a90;
  border: 0px solid;
}
.titleProyects{
  height: 70px;
  color: #f6f3f7;
  background: #7c2a90;
  border: 0px solid;
}

.titleProyects h4{
  color: #f6f3f7;

}

 .titleOptions{
 	padding-top: 0.3em;
    height: 30px;
    background: #9e4cb2;
    color: #f6f3f7;
    border: 0px solid;
}
.teamsBorder{
	border: 5px solid  #7c2a90;
}
.vote.pro{
	border-left: 1px  solid #7c2a90;
	border-bottom: 6px  solid #7c2a90;
}
.vote.pro td{
	padding-left: 0px;
	text-align:center;
}