$main-color	: #7c2a90;
$titles		: #572e91;
$text 	    : #121212;
$border     : #121212;
$cites      : #636363;
$anchors    : #ac208e;
$row-clear  : #fcfcfc;
$row-dark   : #dadad9;
$background : #f4f5f5;