@import "compass/reset", 
		"colours.scss", 
		"dropdown-table.scss",
		"forms.scss",
		"menu.scss",
		"profile.scss",
		"tables.scss",
		"vote.scss";
		
body {
	
	background: $background;
	color: $text;
	font-family: Helvetica;
	overflow-x: hidden;
	min-height: 100vh;	
}
header {
	background: $main-color;
	color: $text-clear;
	padding: .5em;
}

* {
	&:focus {
		outline: none !important;
	}
	box-sizing: border-box;
}

button {
	a {
		color: $background;
	}
}

.title  {
	color: $titles;
	font-size: 1.5em; 
	margin-bottom: .5em; 
	padding-bottom: .5em;
}

.full-screen {
	width: 100vw;
	height: 100vh;
	position: relative;
	
	> div, > section {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.fs-modal {
		background: rgba(0,0,0,0.5);
			
			> div, > section {
				z-index: 99;
			}
	}
}


a {
	color: $anchors;
		&:hover {
			color: lighten($anchors, 20);
			text-decoration: none;
		}
}

.btn {
	&:hover {
		color: $text-clear;
		opacity: 0.8;
	}
}
.btn-download{
	background-color:$main-color;
	color:white;
	margin:3em 5%;
	&:hover{
		background-color:$anchors;
	}
}
.btn-print{
	background-color:$main-color;
	color:white;
	margin:3em 5%;
	&:hover{
		background-color:$anchors;
	}
}
