@import "compass/reset", 
		"colours.scss", 
		"menu.scss",
		"main.scss",
		"forms.scss",
		"tables.scss",
		"dropdown-table.scss";
		
body {
	background: $background;
	color: $text;
	font-family: Helvetica;
}
header {
	background: $main-color;
	color: $text-clear;
	padding: 1em;
}

* {
	&:focus {
		outline: none !important;
	}
	box-sizing: border-box;
}

.full-screen {
	width: 100%;
	height: 100vh;
	position: relative;
	
	> div, > section {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.fs-modal {
		background: rgba(0,0,0,0.5);
			
			> div, > section {
				z-index: 99;
			}
	}
}


a {
	color: $anchors;
		&:hover {
			color: lighten($anchors, 20);
			text-decoration: none;
		}
}

.btn {
	&:hover {
		color: $text-clear;
		opacity: 0.8;
	}
}