@import "compass/reset", 
		"colours.scss", 
		"menu.scss",
		"main.scss",
		"tables.scss";

body {
	background: $background;
	color: $text;
	font-family: Helvetica;
}
header {
	background: $main-color;
	color: $text-clear;
	padding: 1em;
}

* {
	&:focus {
		outline: none !important;
	}
	box-sizing: border-box;
}

.full-screen {
	width: 100%;
	height: 100vh;
	position: relative;
	
	> div, > section {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.modal {
		background: rgba(0,0,0,0.5);
			
			> div, > section {
				z-index: 99;
			}
	}
}

/* General Styles */
form {
	background: $background;
	padding: 20px 15px;
	min-width: 360px;
	margin: 2em 0;
};

a {
	color: $anchors;
		&:hover {
			color: lighten($anchors, 20);
			text-decoration: none;
		}
}

.btn {
	&:hover {
		color: $text-clear;
		opacity: 0.8;
	}
}

/* Login page styles */

#login-page {
	background: url(../images/login-gradient.jpg) repeat;
}

.btnEnter{
	background-color:$main-color;
	width:100%;
	color:$text-clear;
}

.recoverPassword {
	width: 100%;
	display: inline-block;
	margin-top: 1em;
}

.login-logo {
	&.img-responsive {
    	margin: 0 auto;
	}
}

/*form add area*/
#form-add-area{
	form{
		label{
		color:$text;
		font-weight:normal;
		margin:5px 8px;
		}
		.btnAgregar{
			margin-top:30px;
			background-color:$main-color;
			color:$text-clear;	
			}
	}
	
}