
<div>
	
	<nav class="navbar navbar-default" >
	  	<div class="col col-md-10 col-md-offset-1">
	    	<div class="navbar-header">
	      		<button type="button" 
	      				class="navbar-toggle collapsed" 
	      				data-toggle="collapse" 
	      				data-target="#consultOptions"
	      			>
		        	<span class="sr-only">
		        		Toggle navigation
		        	</span>
		        	<h2>
		        		Consultar
		        	</h2>
	      		</button>
	      		<h1 class="navbar-brand" >
					¿Qué desea consultar?
				</h1>
	    	</div>
		    <div class="collapse navbar-collapse" id="consultOptions">

		      	<ul class="nav navbar-nav navbar-left">
			        <li ng-class="{ active : (sInfoCtrl.displaying === 'project') }" 
			        	ng-click="sInfoCtrl.changeDisplayedInfo('project');"
			        >
				  		<a ui-sref="admin.search.project">
				  			Proyecto
				  		</a>
				  	</li>
				  	<li ng-class="{ active : (sInfoCtrl.displaying === 'team') }" 
						ng-click="sInfoCtrl.changeDisplayedInfo('team');"
				  	>
						<a ui-sref="admin.search.team">
							Equipo
						</a>
					</li>
					<li ng-class="{ active : (sInfoCtrl.displaying === 'student') }" 
						ng-click="sInfoCtrl.changeDisplayedInfo('student');"
					>
						<a ui-sref="admin.search.student">
							Estudiantes
						</a>
					</li>
					<li ng-class="{ active : (sInfoCtrl.displaying === 'document') }" 
						ng-click="sInfoCtrl.changeDisplayedInfo('document');"
					>
						<a ui-sref="admin.search.document">
							Documento
						</a>
					</li>
					<li ng-class="{ active : (sInfoCtrl.displaying === 'vote') }" 
						ng-click="sInfoCtrl.changeDisplayedInfo('vote');"
					>
						<a ui-sref="admin.search.vote">
							Votación
						</a>
					</li>
		      	</ul>
		    </div>
	  	</div>
	</nav>
	<div class="container" >
	    <input 	type="text" 
	    		class="search-bar col col-md-3" 
	    		type="text" 
	    		ng-model="search" 
	    		placeholder="Buscar: "
	    	>
	</div>
</div>


<section ui-view >
	<!-- Content -->
</section>
