<form class="col col-md-12" >
	<h1 class="text-center title" >
		¿Qué desea registrar? {{ rInfoCtrl.currentRol }}
	</h1>
	<select class="col col-md-6 col-md-offset-3" 
			ng-model="rInfoCtrl.displayedForm" 
			ng-change="rInfoCtrl.changeState();" 
		>
		<option value="admin.register.project" >
			Proyecto
		</option>
		<option value="admin.register.team" >
			Equipo
		</option>
		<option value="admin.register.student" >
			Estudiantes
		</option>
		<option value="admin.register.document" >
			Documento
		</option>
		<option value="admin.register.vote" >
			Votación
		</option>
	</select>
</form>

<div class="container">
    <button ng-click="rInfoCtrl.goToSearching();" class="col-md-2 btn btn-primary pull-right">
    	Consultar registros
    </button>
</div>

<section ui-view >
	<!-- Content -->
</section>

<div class="col col-md-6 col-md-offset-3 ">