
<div>
	
	<nav class="navbar navbar-default" >
	  	<div class="col col-md-10 col-md-offset-1">
	    	<div class="navbar-header">
	      		<button type="button" 
	      				class="navbar-toggle collapsed" 
	      				data-toggle="collapse" 
	      				data-target="#consultOptions"
	      			>
		        	<span class="sr-only">
		        		Toggle navigation
		        	</span>
		        	<h2>
		        		Consultar
		        	</h2>
	      		</button>
	      		<h1 class="navbar-brand" >
					¿Qué desea consultar?
				</h1>
	    	</div>
		    <div class="collapse navbar-collapse" id="consultOptions">

		      	<ul class="nav navbar-nav navbar-left">
			        <li class="active">
				  		<a ui-sref="admin.search.project">
				  			Proyecto
				  		</a>
				  	</li>
				  	<li>
						<a ui-sref="admin.search.team">
							Equipo
						</a>
					</li>
					<li>
						<a ui-sref="admin.search.student">
							Estudiantes
						</a>
					</li>
					<li>
						<a ui-sref="admin.search.document">
							Documento
						</a>
					</li>
					<li>
						<a ui-sref="admin.search.vote">
							Votación
						</a>
					</li>
		      	</ul>
		    </div>
	  	</div>
	</nav>
	<div class="col col-md-3" >
	    <input 	type="text" 
	    		class="form-control" 
	    		class="search" 
	    		type="text" 
	    		ng-model="search" 
	    		placeholder="Buscar: "
	    	>
	</div>
	<button ng-click="sInfoCtrl.goToRegister();" 
			class="btn"
		>
    	Agregar
    </button>
</div>


<section ui-view >
	<!-- Content -->
</section>
