<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body ng-app="info">
		<div class="full-screen fs-modal"ng-controller="InfoController as infoCtrl" >
			<div class="col col-md-6">
				<header>
					<h1>Agregar Grupo</h1>
				</header>
				<form name="formAddGroup" ng-submit="formAddGroup.$valid && infoCtrl.addGroup()" novalidate>
					<div class="row">
						<div class="col-md-6">
						  	<label>Grupo</label>
						    <input type="text" ng-model="infoCtrl.newGroup.name" class="form-control"placeholder="" required>
						</div>
					  	<div class="col-md-6">
					  		<label>Curso</label>
					  			<select ng-model="infoCtrl.newGroup.course" class="form-control select-arrow" required>
					  			<option ng-repeat="course in infoCtrl.courses" value="{{ course.id }}">{{ course.name }}</option>
					  		</select>
					  	</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-6">
						  	<label>Fecha de Inicio</label>
						    <input type="date" ng-model="infoCtrl.newGroup.initialDate" class="form-control arrow-input"placeholder=""required>
						</div>
						<div class="col-md-6">
						  	<label>Fecha Final</label>
						    <input type="date" ng-model="infoCtrl.newGroup.finalDate" class="form-control arrow-input"placeholder=""required>
						</div>
				  	</div>
				  	<div class="row">
					  	<div class="col-md-6">
					  		<label>Profesor</label>
					  			<select ng-model="infoCtrl.newGroup.teacher" class="form-control select-arrow" required>
						  			<option ng-repeat="teacher in infoCtrl.teachers" value="{{ teacher.id }}" >{{ teacher.name }} </option>
						  		</select>
					  	</div>
					  	<div class="col-md-5">
					  		<label>&Aacute;rea</label>
					  			<select ng-model="infoCtrl.newGroup.area" class="form-control select-arrow" required>
						  			<option ng-repeat="area in infoCtrl.areas" value="{{ area.id }}">{{ area.name }}</option>
						  		</select>
					  	</div>
						<a href="#" ng-click="" ><img src="../images/btnPlus.png" class="img-plus" alt="plus"></a>
				  	</div>

				  	<div class="row">
					  	<div class="col-md-6">
					  		<label>R&uacute;brica</label>
					  			<select required ng-model="infoCtrl.newGroup.rubric" class="form-control select-arrow">
						  			<option ng-repeat="rubric in infoCtrl.rubrics" value="{{ rubric.id }}">{{ rubric.nombre }}</option>
						  		</select>
					  	</div>
					  	<button type="submit"  class="btn btn-add"><a href="/Partials/info-consult-group.html">Agregar</a></button>
				  	</div>	
				</form>	
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" ></script>
    <script src="../scripts/data.js" ></script>
    <script src="../scripts/queries.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="../scripts/app.js" ></script>
    <script src="../scripts/form-add-group.js" ></script>
</html>