<div class="col col-md-6 col-md-offset-3 well">
	<form 	class="user-form" 
			name="formEditStudent" 
			ng-submit="formEditStudent.$valid && 
					   editStudentCtrl.updateStudent(true)" 
			novalidate
		>
		<div class="row" ng-show="editStudentCtrl.sucess" >
			<h2 class="text-center register-sucess col-md-7" >
				¡Actualización exitosa!
			</h2>
			<div class="col col-md-5">
				<span class="btn btn-danger col col-md-6 border-no-radius"
						ng-click="editStudentCtrl.undo();"
					>
					Deshacer
				</span>
				<span class="btn btn-primary col col-md-6 border-no-radius"
						ng-click="editStudentCtrl.save();"
					>
					Aceptar
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			 	<label for="txtName" >
			 		Nombre
			 	</label>
			  	<input  type="text" 
			  			class="form-control"
			  			id="txtName"
			  			name="name"
			  			ng-model="editStudentCtrl.studentToUpdate.first_name" 
			  			required
			  		>
			  			<!-- Errors -->
				  			<p class="error-feedback"
				  				ng-show="formEditStudent.name.$dirty &&
				  						 formEditStudent.name.$error.required"
				  				>
				  				Necesita ingresar el nombre del estudiante.
				  			</p>
			</div>
		  	<div class="col-md-12">
		  		<label for="txtLastName">
		  			Apellido
		  		</label>
		  		<input 	type="text" 
		  				id="txtLastName"
		  				name="lastName"
		  				class="form-control" 
		  				ng-model="editStudentCtrl.studentToUpdate.last_name" 
		  				required
		  			>
		  			<!-- Errors -->
			  			<p class="error-feedback"
			  				ng-show="formEditStudent.lastName.$dirty &&
			  						 formEditStudent.lastName.$error.required"
			  				>
			  				Necesita ingresar los apellidos del estudiante.
			  			</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label for="txtPersonalId">
					Cédula
				</label>
				<input 	type="text" 
						id="txtPersonalId"
						class="form-control" 
						name="personalId"
						ng-model="editStudentCtrl.studentToUpdate.idPersonal" 
						required
					>
					<p 	ng-show="formEditStudent.personalId.$dirty && 
				    				 formEditStudent.personalId.$error.required" 
				    		class="error-feedback"
				    	>
			    		Necesita ingresar la cédula del estudiante.
			    	</p>

			</div><!--col-md-6-->
			<div class="col-md-12">
				<label for="txtEmail">
					Correo Electrónico
				</label>
				<input 	type="email"
						id="txtEmail" 
						class="form-control" 
						name="email"
						ng-model="editStudentCtrl.studentToUpdate.email" 
						required
					>
					<p 	ng-show="formEditStudent.email.$dirty && 
				    			 formEditStudent.email.$error.required" 
				    		class="error-feedback"
				    	>
			    		Necesita ingresar el email del estudiante.
			    	</p>
			    	<p 	ng-show="formEditStudent.email.$dirty && 
				    			 formEditStudent.email.$error.email" 
				    		class="error-feedback"
				    	>
			    		Por favor ingrese un email correcto.
			    	</p>
			</div><!--col-md-6-->
		</div><!--row-->
		<div class="row">
			<div class="col-md-12">
				<button type="submit" 
						class="btn btn-add"
						ng-disabled="formEditStudent.$invalid"
					>
					Actualizar
				</button>
			</div>	
		</div>
	</form>	
</div>
