
		<div class="full-screen fs-modal" ng-controller="editCourseAreaController as eCourseAreaCtrl" >
			<div class="col col-md-6">
				<header>
					<h1>Modificar &Aacute;rea {{ formEditCourseArea.$valid }}</h1>
				</header>
				<form name="formEditCourseArea" ng-submit="formEditCourseArea.$valid && eCourseAreaCtrl.editCourseArea();" novalidate>
					<div class="row">
						<div class="col-md-6">
					  		<label>&Aacute;rea</label>
						    <input type="text" class="form-control" id="area" placeholder="" required ng-model="eCourseAreaCtrl.editArea.name">
					  	</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-12">
					  		<label>Descripci&oacute;n</label>
					  		<textarea class="form-control col-md-6" rows="6" required ng-model="eCourseAreaCtrl.editArea.description"></textarea>
					  	</div>
				  	</div>
				  	<div class="row">
					  	<button type="submit" class="btn btn-edit"><a href="/Partials/info-consult-areas.html">Modificar</a></button>
				  	</div>	
				</form>	
			</div>
		</div>
