<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body>
		<div class="full-screen fs-modal" >
			<div class="col col-md-6">
				<header>
					<h1>Agregar R&uacute;brica</h1>
				</header>
				<form>
					<div class="row">
						<div class="col-md-12">
						  	<label>Nombre</label>
						    <input type="text" class="form-control" id="area" placeholder="">
						</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-5">
					  		<label>Aspecto</label>
					  		<select class="form-control select-arrow">
					  			<option value=""></option>			 
					  		</select>	
					  	</div>
					  	<div class="col-md-5">
					  		<label>Valor</label>
					  		<select class="form-control select-arrow">
					  			<option value=""></option>			 
					  		</select>	
					  	</div>
						<a href="#"><img src="../images/btnPlus.png" class="img-plus" alt="plus"></a>
				  	</div>
				  	<div class="row">
					  	<button type="submit" class="btn btn-add"><a href="/Partials/info-rubric-dropdown-table.html">Agregar</a</button>
					</div>
				</form>	
			</div>
		</div>
	</body>
</html>