<div class="col col-md-6 col-md-offset-3 ">
	<form 	name="formAddTeam" 
			novalidate
			ng-submit="formAddTeam.teamName.$valid 			&&
					   formAddTeam.teamLogo.$valid 			&&
					   formAddTeam.project.$valid 			&&
		   			   (addTeamCtrl.newTeam.members).length &&
		   			   addTeamCtrl.addTeam()"
		>
		<h2 class="text-center register-sucess" ng-show="addTeamCtrl.sucess" >
			¡Registro exitoso!
			<button class="btn btn-close" ng-click="addTeamCtrl.removeSucessMessage();">
				X
			</button>
		</h2>
		<div class="row">
			<div class="col col-md-6">
				<label for="txtName">
					Nombre del equipo
				</label>
				<input 	type="text"
						id="txtName"	
						name="teamName"
						class="form-control"
						ng-model="addTeamCtrl.newTeam.name"
						required
					>
						<!-- Errors -->
							<p 	class="error-feedback"
								ng-show="formAddTeam.teamName.$dirty &&
										 formAddTeam.teamName.$error.required"
								>
								Necesita asignar un nombre al equipo.
							</p>

			</div>
			<div class="col col-md-6">
				<label>
					Proyecto
				</label>
				<select class="form-control"
						name="project"
						ng-model="addTeamCtrl.newTeam.project"
						required
					>
					<option value="{{ project.id }}" 
							ng-repeat="project in addTeamCtrl.projects"
						>
						{{ project.name }}
					</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<label for="fileLogo">
					Logo
				</label>
				<div class="btn btn-primary fileUpload" >
					<p>
						Subir logo
					</p>
					<input 	type="file"
							id="fileLogo"
							name="teamLogo" 
							ng-model="addTeamCtrl.newTeam.logo"
							accept="image/*" 
							class="upload"
							required
							app-filereader 
						/>
				</div>
					<!-- Errors -->
						<p 	class="error-feedback"
							ng-show="formAddTeam.teamLogo.$dirty &&
									 formAddTeam.teamLogo.$error.required"
							>
							Necesita asignar un logo al nuevo equipo.
						</p>
			
				<img 	ng-src="{{addTeamCtrl.newTeam.logo}}" 
						class="img-responsive"
					/>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<label for="txtValue">
					Estudiante
				</label>
				<select class="form-control"
						ng-model="addTeamCtrl.newTeamMember.student"
						name="formAddTeam.newMemberName.$error.required">
					<option value="{{ student.name +' '+ student.lastName }}" 
							ng-repeat="student in addTeamCtrl.students"
						>
						{{ student.name +" "+ student.lastName +" - "+ student.pId }}
					</option>
				</select>
			</div>
			<div class="col col-md-6">
				<label for="txtValue">
					Rol
				</label>
				<select class="form-control"
						name="newMemberRol"
						ng-model="addTeamCtrl.newTeamMember.rol"
						required
					>
					<option value="{{ rol.name }}" 
							ng-repeat="rol in addTeamCtrl.rols"
						>
						{{ rol.name }}
					</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<span 	ng-click="addTeamCtrl.asignMember()" 
	  					class="btn btn-primary btn-asign"
	  					ng-disabled="formAddTeam.newMemberRol.$error.required ||
	  								 formAddTeam.newMemberName.$error.required"
	  				>
	  				Asignar
	  			</span>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-12 add-careers">
				<ul class="careers-list">
					<li class="col col-md-12 list-group-item" 
						ng-repeat="member in addTeamCtrl.newTeam.members" 
					>
						<h5>
							<strong>{{ member.rol }}:</strong> {{ member.student }}
							<span
								ng-click="addTeamCtrl.deleteMember( $index )"
							>
								<img src="images/btnLess.png" alt="less" class="img-less">
							</span>
						</h5>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col col-md-6">
				<label for="fileDocument">
					Entregable
				</label>
				<div class="btn btn-primary fileUpload" >
					<p>
						Subir documento
					</p>
					<input 	type="file"
							id="fileDocument"
							name="teamLogo" 
							ng-model="addTeamCtrl.newTeam.logo"
							class="upload"
							required
							app-filereader 
						/>
				</div>
			</div>
		</div>
	  	<div class="row">
		  	<button type="submit" 
		  			class="btn btn-add"
		  			ng-disabled="formAddTeam.teamName.$invalid 			||
		  						 formAddTeam.teamLogo.$invalid 			||
		  						 formAddTeam.project.$invalid 			||
					   			 !(addTeamCtrl.newTeam.members).length 	"
		  		>
		  			Agregar
		  	</button>
		</div>
	</form>	
</div>