
		<div class="full-screen fs-modal" ng-controller="addTeacherController as atCtrl">
			<div class="col col-md-6">
				<header>
					<h1>Agregar Profesor</h1>
				</header>
				<form class="user-form" name="formAddTeacher" ng-submit="formAddTeacher.$valid && atCtrl.addTeacher()" novalidate>
					<div class="row">
						<div class="col-md-6">
						  	<label>Nombre</label>
						    <input type="text" class="form-control" placeholder="" ng-model="atCtrl.newTeacher.name" required>
						</div>
						<div class="col-md-6">
					  		<label>Apellido</label>
					  		<input type="text" class="form-control" ng-model="atCtrl.newTeacher.lastName" required>
					  	</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						  	<label>Imagen</label>
						    <input type="text" class="form-control"placeholder="" ng-model="atCtrl.newTeacher.image" required>
						</div>
						<div class="col-md-6">
					  		<label>Contraseña</label>
					  		<input type="text" class="form-control" ng-model="atCtrl.newTeacher.password" required>
					  	</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label for="">Cédula</label>
							<input type="text" class="form-control" ng-model="atCtrl.newTeacher.pId" required>
						</div>
						<div class="col-md-6">
							<label for="">Correo Electrónico</label>
							<input type="email" class="form-control" ng-model="atCtrl.newTeacher.email" required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 message">
							<p  ng-show="submitted&&formAddTeacher.$invalid">¡Debe llenar todos los espacios!</p>
						</div>
						<div class="col-md-6">
							<button type="submit" ng-click="submitted=true" class="btn btn-add"><a href="/Partials/info-consult-teacher.html">Agregar</a></button>
						</div>
					</div>
				</form>	
			</div>
		</div>
