<div class="col col-md-6 col-md-offset-3">
	<form name="formAddArea" ng-submit="formAddArea.$valid && addAreaCtrl.addArea()" novalidate>
		<div class="row">
			<div class="col-md-6">
			  	<label>&Aacute;rea</label>
			    <input required type="text" ng-model="addAreaCtrl.newArea.name" class="form-control" id="area" placeholder="">
			</div>
	  	</div>
		<div class="row">
		  	<div class="col-md-12">
		  		<label>Descripci&oacute;n</label>
		  		<textarea required ng-model="addAreaCtrl.newArea.description" class="form-control col-md-6" rows="6"></textarea>
		  	</div>
	  	</div>
	  	<div class="row">
		  	<button type="submit" class="btn btn-add">
		  		Agregar
		  	</button>
	  	</div>	
	</form>	
</div>