
		<div class="full-screen fs-modal" ng-controller="teamController as teamCtrl">
			<div class="col col-md-6">
				<header>
					<h1>Agregar Equipo</h1>
				</header>
				<form name="formAddTeam" ng-submit="formAddTeam.$valid && teamCtrl.addTeam()" novalidate>
					<div class="row">
						<div class="col-md-6">
						  	<label>Equipo</label>
						    <input type="text" ng-model="teamCtrl.newTeam.name"class="form-control" id="area" placeholder="" required>
						</div>
					  	<div class="col-md-6">
					  		<label>Grupo</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.course"  required>
					  			<option ng-repeat="course in teamCtrl.courses" value="{{ course.id }}">{{ course.name }}</option>
							</select>	
					  	</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-6">
					  		<label>Estudiante</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.student1"  required>
					  			<option ng-repeat="student in teamCtrl.students" value="{{ student.id }}">{{ student.name }} {{ student.lastName }}</option>		 
					  		</select>	
					  	</div>
					  	<div class="col-md-6">
					  		<label>Rol</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.rol1"  required>
					  			<option ng-repeat="rol in teamCtrl.roles" value="{{ rol.id }}">{{ rol.name }}</option>				 
					  		</select>	
					  	</div>
				  	</div>
				  	<div class="row">
					  	<div class="col-md-6">
					  		<label>Estudiante</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.student2"  required>
					  			<option ng-repeat="student in teamCtrl.students" value="{{ student.id }}">{{ student.name }} {{ student.lastName }}</option>			 
					  		</select>	
					  	</div>
					  	<div class="col-md-6">
					  		<label>Rol</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.rol2"  required>
					  			<option ng-repeat="rol in teamCtrl.roles" value="{{ rol.id }}">{{ rol.name }}</option>			 
					  		</select>	
					  	</div>
				  	</div>
				  	<div class="row">
					  	<div class="col-md-6">
					  		<label>Estudiante</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.student3"  required>
					  			<option ng-repeat="student in teamCtrl.students" value="{{ student.id }}">{{ student.name }} {{ student.lastName }}</option>		 
					  		</select>	
					  	</div>
					  	<div class="col-md-6">
					  		<label>Rol</label>
					  		<select class="form-control select-arrow" ng-model="teamCtrl.newTeam.rol3"  required>
					  			<option ng-repeat="rol in teamCtrl.roles" value="{{ rol.id }}">{{ rol.name }}</option>			 
					  		</select>	
					  	</div>
					  	<a href="#"><img src="../images/btnPlus.png" class="img-plus" alt="plus"></a>
				  	</div>
				  	<div class="row">
					  	<button type="submit" class="btn btn-add"><a href="/Partials/info-consult-team.html">Agregar</a></button>
				  	</div>	
				</form>	
			</div>
		</div>
		