<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body>
		<div class="full-screen fs-modal" >
			<div class="col col-md-6">
				<header>
					<h1>Modificar &Aacute;rea</h1>
				</header>
				<form>
					<div class="row">
						<div class="col-md-6">
						  	<label>&Aacute;rea</label>
						    <input type="text" class="form-control" id="area" placeholder="">
						</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-12">
					  		<label>Descripci&oacute;n</label>
					  		<textarea class="form-control col-md-6" rows="6"></textarea>
					  	</div>
				  	</div>
				  	<div class="row">
					  	<button type="submit" class="btn btn-edit">Modificar</button>
				  	</div>	
				</form>	
			</div>
		</div>
	</body>
</html>