<div class="col col-md-6 col-md-offset-3 well">
	<form name="formEditProject" ng-submit="formEditProject.$valid &&
										   editProjectCtrl.updateProject(true);"
								novalidate
		>
		<div class="row" ng-show="editProjectCtrl.sucess" >
			<h2 class="text-center register-sucess col-md-7" >
				¡Actualización exitosa!
			</h2>
			<div class="col col-md-5">
				<span class="btn btn-danger col col-md-6 border-no-radius"
						ng-click="editProjectCtrl.undo();"
					>
					Deshacer
				</span>
				<span class="btn btn-primary col col-md-6 border-no-radius"
						ng-click="editProjectCtrl.save();"
					>
					Aceptar
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			  	<label for="txtProject">
			  		Proyecto
			  	</label>
			    <input 	type="text" 
			    		class="form-control"
						id="txtProject"
						name="project"
						ng-model="editProjectCtrl.projectToUpdate.projectName"
						required
			    	>
			    		<!-- Errors -->
			    		<p 	ng-show="formEditProject.project.$dirty && 
			    				 	 formEditProject.project.$error.required" 
				    		class="error-feedback"
				    	>
				    		Necesita ingresar el nombre del proyecto.
				    	</p>
			</div>
	  	</div>
		<div class="row">
			<div class="col-md-12">
			  	<label for="txtDescription">
			  		Descripción
			  	</label>
			    <textarea	id="txtDescription"
			    			required 
			    			type="text" 
			    			ng-model="editProjectCtrl.projectToUpdate.description" 
			    			class="form-control" 
			    			name="description" 
			    	>
			    </textarea>
			    <!-- Errors -->
			    	<p 	ng-show="formEditProject.description.$dirty && 
			    				 formEditProject.description.$error.required" 
			    		class="error-feedback"
			    	>
			    		Necesita ingresar la descripción del proyecto.
			    	</p>
			</div>
	  	</div>
	  	<div class="row">
		  	<div class="col-md-12">
			  	<label for="txtKeyWords">
			  		Palabra Clave
			  	</label>
			    <input 	type="text" 
			    		class="form-control"
			    		id="txtKeywords"
			    		name="keywords"
			    		ng-model="editProjectCtrl.projectToUpdate.keywords"
			    		required
			    	>
			    	<!-- Errors -->
			    		<p 	ng-show="formEditProject.keywords.$dirty && 
			    				 	 formEditProject.keywords.$error.required" 
				    		class="error-feedback"
				    	>
				    		Necesita ingresar las palabras clave del proyecto.
				    	</p>
	  		</div>
	    </div>	
	    <div>
	    	<button type="submit" 
	  				class="btn btn-add"
	  				ng-disabled="formEditProject.$invalid"
	  		>
	  			Actualizar
	  		</button>
	    </div>
	</form>	
</div>