<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body>
		<div class="full-screen fs-modal" >
			<div class="col col-md-6">
				<header>
					<h1>Agregar Entregable</h1>
				</header>
				<form>
					<div class="row">
						<div class="col-md-6">
						  	<label>Entregable</label>
						    <input type="text" class="form-control"placeholder="">
						</div>
					  	<div class="col-md-6">
					  		<label>Curso</label>
					  			<select class="form-control select-arrow">
					  			<option value=""></option>			 
					  		</select>	
					  	</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-6">
						  	<label>Fecha de Inicio</label>
						    <input type="date" class="form-control arrow-input"placeholder="">
						</div>
						<div class="col-md-6">
						  	<label>Fecha Final</label>
						    <input type="date" class="form-control arrow-input"placeholder="">
						</div>
				  	</div>

				  	<div class="row">
					  	<div class="col-md-6">
					  		<label>R&uacute;brica</label>
					  			<select class="form-control select-arrow">
					  			<option value=""></option>			 
					  		</select>	
					  	</div>
					  	<a href="#"><img src="../images/btnPlus.png" class="img-plus" alt="plus"></a>
				  	</div>
				  	<div  class="row">
				  		<button type="submit" class="btn btn-add">Agregar</button>
				  	</div>
				</form>	
			</div>
		</div>
	</body>
</html>