<!DOCTYPE html>
<html lang="en" ng-app="libreriaVirtual" >

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>
    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body>
		<div class="full-screen fs-modal" ng-controller="registerCareer as rgCareer" >
			<div class="col col-md-6">
				<header>
					<h1>Agregar Carrera {{ formAddCareer.$valid }}</h1>
				</header>
				<form name="formAddCareer" ng-submit="formAddCareer.$valid && rgCareer.addCareer();" novalidate>
					<div class="row">
						<div class="col-md-6">
						  	<label>Carrera</label>
						    <input type="text" class="form-control" required ng-model="rgCareer.newCareer.name" id="area" placeholder="">
						</div>
					  	<div class="col-md-6">
					  		<label>Director Acad&eacute;mico</label>
					  		<select ng-model="rgCareer.newCareer.director" required class="form-control select-arrow">
					  			<option ng-repeat="dir in rgCareer.directors" value="{{ dir.id }}">{{ dir.name }}</option>
					  		</select>
					  	</div>
				  	</div>
				  	<div class="row">
					  	<button type="submit" class="btn btn-add"><a href="/Partials/info-consult-career.html">Agregar</a</button>
				  	</div>
				</form>			
			</div>	
			</div>
		</div>

		    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="../scripts/data.js" ></script>
    <script src="../scripts/queries.js" ></script>
    <script src="../scripts/app.js" ></script>
    <script src="../scripts/register-career.js"></script>
	</body>
</html>