<div class="col col-md-6 col-md-offset-3 ">
	<form 	class="user-form" 
			name="formAddStudent" 
			ng-submit="formAddStudent.$valid && 
					   addStudentCtrl.addStudent()" 
			novalidate
		>
		<h2 class="text-center register-sucess" ng-show="addStudentCtrl.sucess" >
			¡Registro exitoso!
			<button class="btn btn-close" ng-click="addStudentCtrl.removeSucessMessage();">
				X
			</button>
		</h2>
		<div class="row">
			<div class="col-md-6">
			 	<label for="txtName" >
			 		Nombre
			 	</label>
			  	<input  type="text" 
			  			class="form-control"
			  			id="txtName"
			  			name="name"
			  			ng-model="addStudentCtrl.newStudent.name" 
			  			required
			  		>
			  			<!-- Errors -->
				  			<p class="error-feedback"
				  				ng-show="formAddStudent.name.$dirty &&
				  						 formAddStudent.name.$error.required"
				  				>
				  				Necesita ingresar el nombre del estudiante.
				  			</p>
			</div>
		  	<div class="col-md-6">
		  		<label for="txtLastName">
		  			Apellido
		  		</label>
		  		<input 	type="text" 
		  				id="txtLastName"
		  				name="lastName"
		  				class="form-control" 
		  				ng-model="addStudentCtrl.newStudent.lastName" 
		  				required
		  			>
		  			<!-- Errors -->
			  			<p class="error-feedback"
			  				ng-show="formAddStudent.lastName.$dirty &&
			  						 formAddStudent.lastName.$error.required"
			  				>
			  				Necesita ingresar los apellidos del estudiante.
			  			</p>
		  	</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<label for="txtPersonalId">
					Cédula
				</label>
				<input 	type="text" 
						id="txtPersonalId"
						class="form-control" 
						name="personalId"
						ng-model="addStudentCtrl.newStudent.pId" 
						required
					>
					<p 	ng-show="formAddStudent.personalId.$dirty && 
				    				 formAddStudent.personalId.$error.required" 
				    		class="error-feedback"
				    	>
			    		Necesita ingresar la cédula del estudiante.
			    	</p>

			</div><!--col-md-6-->
			<div class="col-md-6">
				<label for="txtEmail">
					Correo Electrónico
				</label>
				<input 	type="email"
						id="txtEmail" 
						class="form-control" 
						name="email"
						ng-model="addStudentCtrl.newStudent.email" 
						required
					>
					<p 	ng-show="formAddStudent.email.$dirty && 
				    			 formAddStudent.email.$error.required" 
				    		class="error-feedback"
				    	>
			    		Necesita ingresar el email del estudiante.
			    	</p>
			    	<p 	ng-show="formAddStudent.email.$dirty && 
				    			 formAddStudent.email.$error.email" 
				    		class="error-feedback"
				    	>
			    		Por favor ingrese un email correcto.
			    	</p>
			</div><!--col-md-6-->
		</div><!--row-->
		<div class="row">
			<div class="col-md-12">
				<button type="submit" 
						class="btn btn-add"
						ng-disabled="formAddStudent.$invalid"
					>
					Agregar
				</button>
			</div>	
		</div>
	</form>	
</div>
