	<div class="full-screen fs-modal">
		<div class="container">
			<div class="row">
				<div class="col-md-6 centered">
					<a ui-sref="home" class="pull-right"><img src="images/btnClose.png" alt="" class="btn-close"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 centered">
					<header>
						<h1>Recuperar Contraseña</h1>
					</header>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 centered">
					<form action="" ng-submit="recover.sendEmail(email, givenPassword)" class="user-form" name="user-form" novalidate>
						<div class="row">
							<div class="col-md-8">
								<label for="recover-user">Correo Electrónico</label>
								<input type="email" ng-model="email" id="recover-user" class="form-control" required>
							</div>
							<div class="col-md-4">
								<button class="btn btn-add" type="submit">Enviar</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<small class="alert" ng-show="recover.password===true">La contraseña será enviada a su correo electrónico</small>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<small class="alert" ng-show="recover.password===false">Su usuario no es válido</small>
							</div>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
	