<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body>
		<div class="full-screen fs-modal" >
			<div class="col col-md-6">
				<header>
					<h1>Modificar Curso</h1>
				</header>
				<form>
					<div class="row">
						<div class="col-md-6">
						  	<label>Curso</label>
						    <input type="text" class="form-control"  placeholder="">
						</div>
					  	<div class="col-md-6">
						  	<label>C&oacute;digo</label>
						    <input type="number" class="form-control"  placeholder="">
						</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-6">
						  	<label>Cr&eacute;ditos</label>
						    <input type="number" class="form-control"  placeholder="">
						</div>
						<div class="form-group col-md-6">
					  		<label >Carrera</label>
					  		<select class="form-control  select-arrow">
					  			<option value=""></option>
					  		</select>
					  	</div>
				  	</div>
				  	<div class="row">
					  	<button type="submit" class="btn btn-edit">Modificar</button>
				  	</div>	
				</form>	
			</div>
		</div>
	</body>
</html>