<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body>
		<div class="full-screen fs-modal" >
			<div class="col col-md-6">
				<header>
					<h1>Modificar Estudiante</h1>
				</header>
				<form class="user-form">
					<div class="row">
						<div class="col-md-3">
							<div class="foto">
								<span class="btn btn-file">
    								Agregar Foto <input type="file">
								</span>
							</div>
						</div>
						<div class="col-md-9">
							<div class="row">
								<div class="col-md-12">
						  			<label>Nombre</label>
						    		<input type="text" class="form-control"placeholder="">
								</div>
							</div>
							<div class="row">	
					  			<div class="col-md-6">
					  				<label>Apellido 1</label>
					  				<input type="text" class="form-control">
					  			</div>
					  			<div class="col-md-6">
					  				<label>Apellido 2</label>
					  				<input type="text" class="form-control">
					  			</div>
					  		</div>
				  		</div>
				  	</div>
					<div class="row">
						<div class="col-md-5">
							<label for="">Cédula</label>
							<input type="text" class="form-control">
						</div>
						<div class="col-md-7">
							<label for="">Correo Electrónico</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="row">
					  	<div class="col-md-6">
						  	<label>Carrera</label>
						    <input type="text" class="form-control"placeholder="">
						</div>
					</div>
					<div class="row">
					  	<div class="col-md-6">
						  	<label>Carrera</label>
						    <input type="text" class="form-control"placeholder="">
						</div>
						<div class="col-md-2">
							<a href="#"><img src="../images/btnLess.png" class="img-plus" alt="plus"></a>
							<a href="#"><img src="../images/btnPlus.png" class="img-plus" alt="plus"></a>
						</div>
						<button type="submit" class="btn btn-edit">Modificar</button>	
					</div>
				</form>	
			</div>
		</div>
	</body>
</html>