<section>
  <form class="row add-participants"  
        name="addVoting" 
        ng-submit="addVoteCtrl.valid() && addVoteCtrl.registerVoting()"
        novalidate
      >
    <div class="col col-md-8 centered" >
      <div class="titleProyects"><h4 class="text-center" >Elegir Equipos Participantes</h4></div >
      <ul class="text-center ">
        <li class="col col-md-12 t titleOptions">
          <ul>
            <li class="col col-md-4 " >Proyecto</li>
            <li class="col col-md-4" >Equipo</li>
            <li class="col col-md-4" >Elegir</li>
          </ul>
        </li>
        <li class="col col-md-12 team-list-item "  ng-repeat="team in addVoteCtrl.teams" >
          <ul>
            <li class="col col-md-4" ng-if="team.project === 1">Biblioteca</li>
            <li class="col col-md-4" >{{ team.name }}</li>
            <li class="col col-md-4" >
              <input type="checkbox"  ng-model="teamIsSelected" 
                                      ng-change="addVoteCtrl.selectTeam( team.id, teamIsSelected );"
                                    >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </form>  
  <form class="row add-participants"  
        name="addVoting" 
        ng-submit="addVoteCtrl.valid() && addVoteCtrl.registerVoting()"
        novalidate
      >
    <div class="col col-md-8 centered top">
      <div class="titleProyects"><h4 class="text-center" >Elegir profesores participantes</h4></div >
 

<!--            <select id="newParticipant" ng-model="addVoteCtrl.newParticipant" class="form-control select-arrow">
              <option ng-repeat="possibleParticipant in addVoteCtrl.possibleParticipants" value="{{ possibleParticipant.id }}">
                {{ possibleParticipant.name +' '+ possibleParticipant.lastName +' - '+ possibleParticipant.pId }}
              </option>       
            </select> -->
      <ul class="text-center ">
        <li class="col col-md-12 t titleOptions">
          <ul>
            <li class="col col-md-4 " >Nombre</li>
            <li class="col col-md-4" >Apellido</li>
            <li class="col col-md-4" >Elegir</li>
          </ul>
        </li>
        <li class="col col-md-12 team-list-item "  ng-repeat="possibleParticipant in addVoteCtrl.possibleParticipants" value="{{ possibleParticipant.id }}" >
          <ul>
            <li class="col col-md-4" >{{ possibleParticipant.name }}</li>
            <li class="col col-md-4" >{{ possibleParticipant.lastName }}</li>
            <li class="col col-md-4" >
              <input type="checkbox"  ng-model="teamIsSelected" 
                                      ng-change="addVoteCtrl.selectTeam( team.id, teamIsSelected );"
                                    >
            </li>
          </ul>
        </li>
      </ul>

 <!--       <div class="col col-md-12">
          <ul class="participants-list" >
            <li class="col col-md-12 list-group-item" ng-repeat="voter in addVoteCtrl.voters track by $index" >
              <h2 class="pull-left">{{ voter.name +' '+ voter.lastName +' - '+ voter.pId }}</h2>
              <a href="#" ng-click="addVoteCtrl.deleteParticipant( voter['id'] );" ><img src="../images/btnLess.png" class="pull-right text-center img-less" alt="less" ></a>
            </li>
          </ul>
        </div>-->

    </div>
  </form>
  <form>
    <div class="col col-md-8 centered top">
      <div class="titleProyects"><h4 class="text-center" >Elegir fecha de votacion</h4></div >

        <ul class="text-center ">
          <li class="col col-md-12 t titleOptions">
            <ul>
              <li class="col col-md-4 " >Fecha de inicio</li>
              <li class="col col-md-4" >Fecha de fin</li>
              <li class="col col-md-4" >Terminar</li>
            </ul>
          </li>
        </ul>
          <ul>
            <li class="col col-md-4" >       
              <label for="initialDate" ></label>
              <input ng-model="addVoteCtrl.initialDate" class="col col-md-12" id="initialDate" type="date">
            </li>
            <li class="col col-md-4" >
              <label  for="finalDate" ></label>
              <input ng-model="addVoteCtrl.finalDate" class="col col-md-12" id="finalDate" type="date">
            </li>
            <li class="col col-md-4" >
              <button type="submit" class="btn btn-add">
                Comenzar
              </button>
            </li>
          </ul>











<!--      <section class="col col-md-12">
        <div class="col col-md-4">
          <label for="initialDate" >Fecha de inicio</label>
          <input ng-model="addVoteCtrl.initialDate" class="col col-md-12" id="initialDate" type="date">
        </div>
        <div class="col col-md-4">
          <label  for="finalDate" >Fecha de fin</label>
          <input ng-model="addVoteCtrl.finalDate" class="col col-md-12" id="finalDate" type="date">
        </div>
        <button type="submit" class="btn btn-add">
        Agregar
      </button>
      </section>-->

    </div>  
</form>
</section>