<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
</head>
	<body ng-app="addCourse">
		<div class="full-screen fs-modal" ng-controller="addCourseController as acCtrl">
			<div class="col col-md-6">
				<header>
					<h1>Agregar Curso</h1>
				</header>
				<form name="formAddCourse" ng-submit="formAddCourse.$valid && acCtrl.addCourse()" novalidate>
					<div class="row">
						<div class="col-md-6">
						  	<label>Curso</label>
						    <input type="text" ng-model="acCtrl.newCourse.name" class="form-control"  placeholder="" required>
						</div>
					  	<div class="col-md-6">
						  	<label>C&oacute;digo</label>
						    <input type="text" ng-model="acCtrl.newCourse.code" class="form-control"  placeholder="" required>
						</div>
				  	</div>
					<div class="row">
					  	<div class="col-md-6">
						  	<label>Cr&eacute;ditos</label>
						    <input type="number" ng-model="acCtrl.newCourse.credits" class="form-control"  placeholder="" required>
						</div>
						<div class="form-group col-md-6">
					  		<label >Carrera</label>
					  		<select ng-model="acCtrl.newCourse.career" class="form-control  select-arrow" required>
					  			<option ng-repeat="career in acCtrl.careers" value="{{ career.id }}">{{ career.name }}</option>
					  		</select>
					  	</div>
				  	</div>
				  	<div class="row">
				  		<div class="col-md-6 message">
							<p  ng-show="submitted&&formAddCourse.$invalid">¡Debe llenar todos los espacios!</p>
						</div>
						<div class="col-md-6">
					  		<button type="submit" ng-click="submitted=true" class="btn btn-add">Agregar</button>
					  	</div>
				  	</div>	
				</form>	
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js" ></script>
    <script src="../scripts/data.js" ></script>
    <script src="../scripts/queries.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="../scripts/app.js" ></script>
    <script src="../scripts/form-add-course.js" ></script>
	</body>
</html>