<div class="full-screen fs-modal" ng-controller="addStudentController as asCtrl">
			<div class="col col-md-6">
				<header>
					<h1>Agregar Estudiante</h1>
				</header>
				<form class="user-form" name="formAddStudent" ng-submit="formAddStudent.$valid && asCtrl.addStudent()" novalidate>
					<div class="row">
						<div class="col-md-6">
						 	<label>Nombre</label>
						  	<input type="text" class="form-control"placeholder="" ng-model="asCtrl.newStudent.name" required>
						</div><!--col-md-6-->	
					  	<div class="col-md-6">
					  		<label>Apellido</label>
					  		<input type="text" class="form-control" ng-model="asCtrl.newStudent.lastName" required>
					  	</div><!--col-md-6-->
					</div><!--row-->
					<div class="row">	
					  	<div class="col-md-6">
					  		<label>Imagen</label>
					  		<input type="txt" class="form-control" ng-model="asCtrl.newStudent.image" required>
					  	</div><!--col-md-6-->
					  	<div class="col-md-6">
					  		<label>Contraseña</label>
					  		<input type="text" class="form-control" ng-model="asCtrl.newStudent.password" required>
					  	</div><!--col-md-6-->
					</div><!--row-->
					<div class="row">
						<div class="col-md-6">
							<label for="">Cédula</label>
							<input type="text" class="form-control" ng-model="asCtrl.newStudent.pId" required>
						</div><!--col-md-6-->
						<div class="col-md-6">
							<label for="">Correo Electrónico</label>
							<input type="email" class="form-control" ng-model="asCtrl.newStudent.email" required>
						</div><!--col-md-6-->
					</div><!--row-->
					<div class="row">
						<div ng-model="asCtrl.careerAspect">
							<div class="col-md-5">
								<label >Carrera</label>
					  			<select ng-model="asCtrl.newStudentCareer" class="form-control select-arrow">
					  				<option ng-repeat="career in asCtrl.careers" value="{{career.name}}">{{ career.name }}</option>
					  			</select>
							</div><!--col-md-5-->
							<div class="col-md-2">
								<a href="#" ng-click="asCtrl.asignCareer()"><img src="../images/btnPlus.png" alt="plus" class="img-plus"></a>
							</div><!--col-md-2-->
							<div class="col col-md-5 add-careers">
								<ul class="careers-list">
									<li class="col col-md-12 list-group-item" 
										ng-repeat="career in asCtrl.studentCareers" 
									>
										<h5 class="pull-left" >{{ career }}</h5>
										<a href="#" 
											ng-click="asCtrl.deleteStudentCareer( $index )"
										>
											<img src="../images/btnLess.png" alt="less" class="img-less">
										</a>
										</h5>
									</li>
								</ul>
							</div>
						</div><!--careerAspect-->
					</div> <!--row-->
					<div class="row">
						<div class="col-md-6 message">
							<p  ng-show="submitted&&formAddStudent.$invalid">¡Debe llenar todos los espacios!</p>
						</div><!--col-md-6-->
						<div class="col-md-6">
							<button type="submit" ng-click="submitted=true" class="btn btn-add"><a href="/Partials/info-consult-student.html">Agregar</a</button>
						</div><!--col-md-12-->	
					</div><!--row-->
				</form>	
			</div><!--col col-md-6-->
		</div><!--full-screen fs-modal-->
		