<div class="full-screen" id="login-page">
	<div>
		<img src="images/logoCenfo.png" class="imgLogoLogin" alt="Cenfotec Logo">
		<form>
		  <div class="form-group">
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		   
		    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		  </div>
		  
		  <button type="submit" class="btn btnEnter">Entrar</button>
		  <a href="#" class="recoverPassword">Recuperar Contraseña</a>
		</form>
	</div>
</div>