<div class="full-screen" id="login-page">
	<div class="item">
		<img src="images/logoCenfo.png" alt="" class="login-logo img-responsive" alt="Cenfotec Logo">
		<form name="loginForm" class="login-form"	ng-controller="loginController as loginCtrl"
													novalidate 
													ng-submit="loginCtrl.validate();">
			<div class="form-group">
				<input type="email" required ng-model="loginCtrl.user.email" class="form-control" 	id="login-email" 																					name="loginEmail"																	placeholder="usuario@ucenfotec.ac.cr">
			</div>
			<div class="form-group">
				<input type="password" required ng-model="loginCtrl.user.password" class="form-control" id="login-password" 															name="loginPassword"
				placeholder="Contraseña">
			</div>
			<button type="submit" class="btn btnEnter">Entrar</button>
			<a ui-sref="home.modal-recover-password" class="recoverPassword text-center">Recuperar Contraseña</a>
		</form>
	</div>
	<div ui-view="modal" class="fullscreen fs-modal"></div>
</div>