<section  >
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <table class="dataTable table table-striped">
                    <div class="row">  
                        <thead>
                            <tr>
                                <td class="text-center"  data-field="name">Estudiante</td>
                                <td class="text-center"  data-field="id">Cédula</td>
                                <td class="text-center"  data-field="email">Email</td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr ng-repeat="student in cStudentCtrl.student | filter: buscador" class="displayInfo" >
                            <td class="text-center" >{{ student.name  }}</td>
                            <td class="text-center" >{{ student.pId   }}</td>
                            <td class="text-center" >{{ student.email }}</td>
                            <td class="actions col col-md-3" >
                                <button class="btn btnEdit col col-md-4" type="button">
                                    <a  href="/Partials/profile-student.html">
                                        <i class="fa fa-plus fa-2x"></i>
                                    </a>
                                </button>
                                <button class="btn btnEdit col col-md-4" type="button">
                                    <a  href="/Partials/profile-student.html">
                                        <i class="fa fa-pencil fa-2x"></i>
                                    </a>
                                </button>
                                <button class="btn btnEdit col col-md-4" type="button">
                                    <a  href="/Partials/profile-student.html">
                                        <i class="fa fa-trash-o fa-2x"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>