<section class="text-center" >
    <div class=" content container viewInfo center-block"  >
        <div class="profile-selected">
            <ul>
                <li>
                    <p>{{ session.info.rol }}</p>
                    <div class="arrow-front"></div>
                </li>
                <li class="secondColor">
                   <div class="arrow-back-up"></div>
                   <div class="arrow-back-down"></div>
                   <p>Equipo</p>
                   <p>Cursos</p>
                   <div class="arrow-front"></div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-3 pull-right" >
                <input type="text" class="form-control" class="search" type="text" ng-model="search" placeholder="Buscar por: Nombre de R&uacute;brica">
            </div><!--/.col-lg-6 -->
        </div>
    </div>

    <div class="container dropdown-table" ng-controller="dropdownController as dpCtrl" >
        <ul class="text-center" >
            <li class="row dropdown-header">
                <ul>
                    <li class="col col-md-3" >
                        <h3>Curso</h3>
                    </li>
                    <li class="col col-md-3" >
                        <h3>Carrera</h3>
                    </li>
                    <li class="col col-md-3" >
                        <h3>Créditos</h3>
                    </li>
                    <li class="col col-md-3" >
                        <h3>Acciones</h3>
                    </li>
                </ul>
            </li>
            <li class="col col-md-12 dropdown-body" ng-class="dpCtrl.getClass($index)" ng-repeat="team in consultTeamCtrl.teams | filter:search" >
                <ul class="col col-md-12" >
                    <li class="col col-md-3" >
                        <h5>{{ team.name }}</h5>
                    </li>
                    <li class="col col-md-3" >
                        <h5>{{ team.proyect }}</h5>
                    </li>
                    <li class="col col-md-3" >
                        <h5>{{ team.proyect }}</h5>
                    </li>
                    <li class="col col-md-3 table-actions" >
                        <button class="col col-md-4 btn btnEdit" 
                                ng-click="dpCtrl.dropdown($index)" >
                            <a href="">
                                <i class="fa fa-plus fa-2x colorWhite"></i>
                            </a>
                        </button>
                        <button class="col col-md-4 btn btnEdit" >
                            <a href="">
                                <i class="fa fa-pencil fa-2x colorWhite"></i>
                            </a></button>
                        <button ng-click="dpCtrl.deleteRubric( rubric.id );" class="col col-md-4 btn btnEdit" >
                        <h5>{{ team.career }}</h5>
                    </li>
                    <li class="col col-md-3" >
                        <h5>{{ team.credits }}</h5>
                    </li>
                    <li class="col col-md-3 table-actions" >
                        <button class="col col-md-6 btn btnEdit" >
                            <a href="">
                                <i class="fa fa-pencil fa-2x colorWhite"></i>
                            </a></button>
                        <button class="col col-md-6 btn btnEdit" >
                            <a>
                                <i class="fa fa-trash-o fa-2x colorWhite"></i>
                            </a>
                        </button>
                    </li>
                </ul>
                <ul class="col col-md-12 dropdown" >
                    <li class="col col-md-12" ng-repeat="member in team.students">
                        <h2 class="pull-left">{{ member.name +' '+ member.lastName }}</h2>
                        <h2 class="pull-right">{{ member.pId }}</h2>
                    </li>
                </ul>                       
            </li>
        </ul>
    </div>
</section>