<section  >
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <table class="dataTable table table-striped">
                    <div class="row">  
                        <thead>
                            <tr>
                                <td class="text-center"  data-field="name">Projecto</td>
                                <td class="text-center"  data-field="id">Descripción</td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr ng-repeat="project in cProjectCtrl.projects | filter: search" class="displayInfo" >
                            <td class="text-center" >{{ cProjectCtrl.getProject(project.id) }}
                            <td class="text-center" >{{ project.description  }}</td>
                            <td class="actions col col-md-3" >
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cProjectCtrl.updateService.advancedView('project', project.id )";
                                        >
                                    <i class="fa fa-pencil fa-2x"></i>
                                </button>
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cProjectCtrl.deleteService.deleteItem('projects', project.id )";
                                        >
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
</section>