<section>
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <dir-pagination-controls    
                    boundary-links="true" 
                    on-page-change="pageChangeHandler(newPageNumber)" 
                    template-url="scripts/Vendor/dirPagination/dirPagination.tpl.html"
                >
                </dir-pagination-controls>
                <table class="flatTable dataTable table-striped">
                    <div class="row">  
                        <thead>
                            <tr class="titleTr">
                                <td class="titleTd">
                                    DOCUMENTO
                                </td>
                                <td colspan="1"></td>
                                <td class="plusTd button"
                                    ui-sref="admin.register.document"    
                                >
                                </td>
                            </tr>
                            <tr class="headingTr" >
                                <td class="text-center" >Nombre</td>
                                <td class="text-center" >Descripción</td>
                                <td></td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr dir-paginate="document in cDocumentCtrl.documents   |
                                          filter        : search    |
                                          itemsPerPage  : 10" 
                            class="displayInfo" >
                            <td class="text-center" >
                              {{ document.name }}
                            </td>
                            <td class="text-center" >
                              {{ document.description }}
                            </td>
                            <td class="actions col-md-1" >
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cDocumentCtrl.updateService.advancedView('document', document.id )";
                                        >
                                    <i class="fa fa-pencil fa-2x"></i>
                                </button>
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cDocumentCtrl.deleteService.deleteItem( 'documents', 
                                                                                      document.id
                                                                                    );"
                                      >
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
