<section  >
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <table class="dataTable table table-striped">
                    <div class="row">  
                        <thead>
                            <tr>
                                <td class="text-center"  data-field="name">Equipo</td>
                                <td class="text-center"  data-field="id">Proyecto</td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr ng-repeat="team in cTeamCtrl.teams | filter: search" class="displayInfo" >
                            <td class="text-center" >{{ team.name  }}</td>
                            <td class="text-center" >{{ cTeamCtrl.getProject(team.project) }}</td>
                            <td class="actions col col-md-3" >
                                <button class="btn btnEdit col col-md-4" type="button">
                                    <a>
                                        <i class="fa fa-plus fa-2x"></i>
                                    </a>
                                </button>
                                <button class="btn btnEdit col col-md-4" type="button">
                                    <a>
                                        <i class="fa fa-pencil fa-2x"></i>
                                    </a>
                                </button>
                                <button class="btn btnEdit col col-md-4" type="button">
                                    <a>
                                        <i class="fa fa-trash-o fa-2x"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
</section>