<section  >
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <dir-pagination-controls    
                    boundary-links="true" 
                    on-page-change="pageChangeHandler(newPageNumber)" 
                    template-url="scripts/Vendor/dirPagination/dirPagination.tpl.html"
                >
                </dir-pagination-controls>
                <table class="flatTable dataTable table-striped">
                    <div class="row">  
                        <thead>
                            <tr class="titleTr">
                                <td class="titleTd">
                                    EQUIPO
                                </td>
                                <td colspan="1"></td>
                                <td class="plusTd button"
                                    ui-sref="admin.register.team"    
                                >
                                </td>
                            </tr>
                            <tr class="headingTr" >
                                <td class="text-center" >Equipo</td>
                                <td class="text-center" >Proyecto</td>
                                <td></td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr class="displayInfo" 
                            dir-paginate="team in cTeamCtrl.teams | 
                                          filter        : search  |
                                          itemsPerPage  : 10" 
                        >
                            <td class="text-center" >{{ team.name  }}</td>
                            <td class="text-center" >{{ team.project }}</td>
                            <td class="actions col col-md-1" >
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cTeamCtrl.updateService.advancedView('team', team.idTeam )";
                                        >
                                    <i class="fa fa-pencil fa-2x"></i>
                                </button>
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cTeamCtrl.deleteTeam(team.idTeam)";
                                        >
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
</section>