<section >

    <div class=" content container viewInfo center-block "  >
        <div class="infoTable ">
            <div class="input-group tableWidth">

                <table class="flatTable dataTable table-striped vote pro" ng-repeat="project in cVoteCtrl.projects
                                                                                     | filter : search">

                    <div class="row">  
                        <thead >
                            <tr class="titleTr ">
                                <td class="titleTd">
                                    <h3>Votar</h3>
                                </td>
                                <td ></td>
                                <td ng-hide="cVoteCtrl.show"  ></td>
                                <td ><h5 ng-hide="cVoteCtrl.show" ng-click="cVoteCtrl.social()" class="button" >Compartir en redes sociales</h5></td>
                                <td class="plusTd button" ng-hide="cVoteCtrl.hide" ng-click="cVoteCtrl.addVote()"></td>
                            </tr>
                            <tr class="headingTr" >
                                <td class="text-center" >Proyecto</td>
                                <td class="text-center" >Logo</td>
                                <td class="text-center" >Equipo</td>
                                <td class="text-center" >Video</td>
                                <td></td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr 
                            class="displayInfo" 
                        >
                            <td class="text-center col col-md-3" > {{project.name}} </td>
                            <td class="text-center col col-md-3" > <img src="images/LOGOONI.png" alt="Logo Oni" height="50%" width="auto"> </td>
                            <td class="text-center col col-md-3" > Nombre de equipo </td>
                            <td class="actions col col-md-3" >
                                <iframe width="100%" height="215"
                                    src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0">
                                </iframe>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
</section> 