

    <!--<div class="fullscreen fs-modal" ui-view></div>-->
    <section ng-controller="InfoCareerController as ctrCareer" >
        <div class=" content container viewInfo center-block"  >
            <div class="profile-selected">
                <ul>
                    <li>
                        <p>Administrador</p>
                        <div class="arrow-front"></div>
                    </li>
                    <li>
                       <div class="arrow-back-up"></div>
                       <div class="arrow-back-down"></div>
                       <p>Carrera</p>
                       <div class="arrow-front"></div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-3 pull-right" >
                    <input type="text" class="form-control" class="search" type="text" ng-model="buscador" placeholder="Buscar por: Nombre, Cédula, Email.">
                </div><!--/.col-lg-6 -->
            </div>
            <div class="infoTable ">
                <div class="input-group tableWidth">
                    <table class="dataTable table table-striped">
                        <div class="row">  
                            <thead>
                                <tr>
                                    <td class="text-center"  data-field="name">Carrera</td>
                                    <td class="text-center"  data-field="id">Director Acad&eacute;mico</td>
                                </tr>
                            </thead>
                        </div>
                        <tbody>
                            <tr ng-repeat="career in ctrCareer.careers | filter: buscador" class="displayInfo" >
                                <td class="text-center" >{{ career.name }}</td>
                                <td class="text-center" >{{ ctrCareer.getDirector(career.id)}}</td>
                                <td class="actions col col-md-3">
                                    <button class="btn btnEdit col col-md-4" type="button">
                                        <a  href="/Partials/form-add-group.html">
                                            <i class="fa fa-plus fa-2x"></i>
                                        </a>
                                    </button>
                                    <button class="btn btnEdit col col-md-4" type="button">
                                        <a  href="/Partials/form-add-group.html">
                                            <i class="fa fa-pencil fa-2x"></i>
                                        </a>
                                    </button>
                                    <button class="btn btnEdit col col-md-4" type="button">
                                        <a  href="/Partials/form-add-group.html">
                                            <i class="fa fa-trash-o fa-2x"></i>
                                        </a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /input-group -->
            </div>
        </div>
    </section>


