<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Oni Digital Solutions">

    <title>Oni Digital Solutions</title>

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../fonts/font-awesome-4.3.0/css/font-awesome.min.css">

</head>

<body ng-app="infoCourses" >

        <div class="content container viewInfo center-block" ng-controller="InfoCoursesController as infoCoursesCtrl" >
          <div class="profile-selected">
            <ul>
              <li>
                  <p>Administrador</p>
                  <div class="arrow-front"></div>
              </li>
              <li>
                  <div class="arrow-back-up"></div>
                  <div class="arrow-back-down"></div>
                  <p>Curso</p>
                  <div class="arrow-front"></div>
              </li>
            </ul>
          </div> 
            <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Buscar" required>
                </div><!-- /.col-lg-6 -->        
            </div>
            <div class="infoTable ">
              <div class="input-group tableWidth">
                <table class="dataTable table table-striped">
                  <div class="row">  
                    <thead>
                        <tr>
                            <td class="text-center" data-field="name">Curso</td>
                            <td class="text-center" data-field="code">Código</td>
                            <td class="text-center" data-field="credits">Créditos</td>
                            <td class="text-center" data-field="carreer">Carrera</td>
                        </tr>
                    </thead>
                </div>
                <tbody>
                  <tr ng-repeat="course in infoCoursesCtrl.courses | filter: buscador" class="displayInfo" >
                    <td class="text-center" >{{ course.name }}</td>
                    <td class="text-center" >{{ course.code }}</td>
                    <td class="text-center" >{{ course.credits }}</td>
                    <td class="text-center" >{{ course.carreer }}</td>
                    <td class="actions col col-md-3" >
                      <button class="btn btnEdit col col-md-4" type="button">
                          <a ui-sref="" href="">
                              <i class="fa fa-plus fa-2x"></i>
                          </a>
                      </button>
                      <button class="btn btnEdit col col-md-4" type="button">
                        <a ui-sref="" href="">
                          <i class="fa fa-pencil fa-2x"></i>
                        </a>
                      </button>
                      <button class="btn btnEdit col col-md-4" type="button">
                          <a ui-sref="" href="">
                              <i class="fa fa-trash-o fa-2x"></i>
                          </a>                                            
                      </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div><!-- /input-group -->
            </div>
        </div>
          
</body>
 <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="../scripts/data.js" ></script>
    <script src="../scripts/queries.js" ></script>
    <script src="../scripts/app.js" ></script>
    <script src="../scripts/infoConsultCourses.js" ></script>
</html>
