<section>
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <table class="dataTable table table-striped">
                    <div class="row">  
                        <thead>
                            <tr>
                                <td class="text-center">
                                  Nombre
                                </td>
                                <td class="text-center">
                                  Descripción
                                </td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr ng-repeat="area in cAreaCtrl.areas | filter: search" class="displayInfo" >
                            <td class="text-center" >
                              {{ area.name }}
                            </td>
                            <td class="text-center" >
                              {{ area.description }}
                            </td>
                            <td class="actions" >
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                      >
                                    <a  href="/info_Consult.html">
                                        <i class="fa fa-pencil fa-2x"></i>
                                    </a>
                                </button>
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cAreaCtrl.deleteArea( $index );"
                                      >
                                    <a  href="/info_Consult.html">
                                        <i class="fa fa-trash-o fa-2x"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
</section>
