<div class="content container viewInfo center-block" >
          <div class="profile-selected">
            <ul>
              <li>
                  <p>Administrador</p>
                  <div class="arrow-front"></div>
              </li>
              <li>
                  <div class="arrow-back-up"></div>
                  <div class="arrow-back-down"></div>
                  <p>Curso</p>
                  <div class="arrow-front"></div>
              </li>
            </ul>
          </div> 
            <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" placeholder="Buscar" required>
                </div><!-- /.col-lg-6 -->        
            </div>
            <div class="infoTable ">
              <div class="input-group tableWidth">
                <table class="dataTable table table-striped">
                  <div class="row">  
                    <thead>
                        <tr>
                            <td class="text-center" data-field="name">Curso</td>
                            <td class="text-center" data-field="code">Código</td>
                            <td class="text-center" data-field="credits">Créditos</td>
                            <td class="text-center" data-field="carreer">Carrera</td>
                        </tr>
                    </thead>
                </div>
                <tbody>
                  <tr ng-repeat="course in infoCoursesCtrl.courses | filter: buscador" class="displayInfo" >
                    <td class="text-center" >{{ course.name }}</td>
                    <td class="text-center" >{{ course.code }}</td>
                    <td class="text-center" >{{ course.credits }}</td>
                    <td class="text-center" >{{ course.career }}</td>
                    <td class="actions col col-md-2" >
                      <button class="btn btnEdit col col-md-6" type="button">
                        <a ui-sref="" href="">
                          <i class="fa fa-pencil fa-2x"></i>
                        </a>
                      </button>
                      <button class="btn btnEdit col col-md-6" type="button">
                          <a ui-sref="" href="">
                              <i class="fa fa-trash-o fa-2x"></i>
                          </a>                                            
                      </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="col-md-2 btn btn-add pull-right">Agregar</button>
              </div><!-- /input-group -->
            </div>
        </div>
