<section  >
    <div class=" content container viewInfo center-block"  >
        <div class="infoTable ">
            <div class="input-group tableWidth">
                <dir-pagination-controls    
                    boundary-links="true" 
                    on-page-change="pageChangeHandler(newPageNumber)" 
                    template-url="scripts/Vendor/dirPagination/dirPagination.tpl.html"
                >
                </dir-pagination-controls>
                <table class="flatTable dataTable table-striped">
                    <div class="row">  
                        <thead>
                            <tr class="titleTr">
                                <td class="titleTd">
                                    PROYECTO
                                </td>
                                <td colspan="1"></td>
                                <td class="plusTd button"
                                    ui-sref="admin.register.project"    
                                >
                                </td>
                            </tr>
                            <tr class="headingTr" >
                                <td class="text-center" >Proyecto</td>
                                <td class="text-center" >Descripción</td>
                                <td></td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr dir-paginate="project in cProjectCtrl.projects | 
                                          filter        : search           |
                                          itemsPerPage  : 10"
                            class="displayInfo" 
                        >
                            <td class="text-center" > {{ project.projectName }} </td>
                            <td class="text-center" > {{ project.description }} </td>
                            <td class="actions col col-md-1" >
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cProjectCtrl.updateService.advancedView('project', project.idProject )";
                                        >
                                    <i class="fa fa-pencil fa-2x"></i>
                                </button>
                                <button class="btn btnEdit col col-md-6" 
                                        type="button"
                                        ng-click="cProjectCtrl.deleteService.deleteItem('projects', project.idProject )";
                                        >
                                    <i class="fa fa-trash-o fa-2x"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
</section> 