<header>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <img src="/images/logoCenfo_header.png" height="75px" class="login-logo" alt="Cenfotec Logo">
        </div>
        <md-button  ng-click="toggle()"
                class="btn btn-default pull-right">
           <i aria-label class="icon-align-justify"><img src="/images/menu.png" alt=""></i>
        </md-button>
    <!-- Side Nav -->
        <div layout="column" class="admin-menu">
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sideNav">
              <md-toolbar class="md-theme-purple">
                <h1 class="md-toolbar-tools"> 
                    <md-button ng-click="close()" class="md-close-nav">X</md-button>
                    Menú 
                </h1>
              </md-toolbar>
              <md-content class="md-padding">
                <div class="right">
                  <ul class="menu-options" >
                      <li>
                          <h1><i class="fa fa-upload"></i>Registrar</h1>
                          <ul>
                              <li><a href="#">Estudiante</a></li>
                              <li><a href="#">Profesor</a></li>
                              <li><a href="#">Director académico</a></li>
                              <li><a href="#">Decano</a></li>
                              <li><a href="#">Carreras</a></li>
                              <li><a href="#">Cursos</a></li>
                              <li><a href="#">Grupos</a></li>
                              <li><a href="#">Áreas</a></li>
                              <li><a href="#">Proyectos</a></li>
                              <li><a href="#">Equipos</a></li>
                              <li><a href="#">Rúbricas</a></li>
                              <li><a href="#">Entregables</a></li>
                              <li><a href="#">Votación</a></li>
                          </ul>   
                      </li>
                      <li><a ng-click="menuCtrl.logOut();" ui-sref="home" href="javascript" class="logout">Cerrar Sesión</a></li>
                  </ul>
                </div> 
                <div class="left">
                    <ul class="menu-options">  
                        <li>
                            <h1><i class="fa fa-plus"></i>Consultar</h1>
                           <ul>
                               <li><a ui-sref="admin-consult-students">Estudiante</a></li>
                               <li><a href="#">Profesor</a></li>
                               <li><a href="#">Director académico</a></li>
                               <li><a href="#">Decano</a></li>
                               <li><a href="#">Carreras</a></li>
                               <li><a href="#">Cursos</a></li>
                               <li><a href="#">Grupos</a></li>
                               <li><a href="#">Áreas</a></li>
                               <li><a href="#">Proyectos</a></li>
                               <li><a href="#">Equipos</a></li>
                               <li><a href="#">Rúbricas</a></li>
                               <li><a href="#">Entregables</a></li>
                               <li><a href="#">Votación</a></li>
                           </ul>   
                       </li>
                    </ul>
                </div>
              </md-content>
            </md-sidenav>
        </div>
    <!-- Side Nav Ends -->
        </div>
    </div>
</header>