

    <!--<div class="fullscreen fs-modal" ui-view></div>-->
    <div class=" content container viewInfo center-block">
         <div id="wrapper" class="container">
        <div class="side-bar col-md-3">
            <ul class="ul-profile">
                <li class="profile-pic">
                    <img src="../images/user.png">
                    
                </li>
                <li>Diego Vargas</li>
                <li>603680056</li>
                <li>email@email.com</li>
            </ul>
            
        </div>  
        <div class="content col-md-9">
            <div class="col-md-12">
                <div class="profile-selected">
                    <ul>
                       
        <div class="profile-selected">
            <ul>
                <li>
                    <p>Estudiante</p>
                    <div class="arrow-front"></div>
                </li>
            </ul>
        </div>
        <h1 class="text-center" >Mis cursos</h1>
        <div class="row">
            <div class="col-lg-5 pull-right" >
                <input type="text" class="form-control" class="search" type="text" ng-model="buscador" placeholder="Buscar por: Nombre, Cédula, Email.">
            </div><!--/.col-lg-6 -->
        </div>

        <div class="infoTable col-md-12">

                <table class="dataTable table table-striped">
                    <div class="row">  
                        <thead>
                            <tr>
                                <td class="text-center"  data-field="name">Nombre</td>
                                <td class="text-center"  data-field="id">Carrera(s)</td>
                                <td class="text-center"  data-field="email">Periodo</td>
                            </tr>
                        </thead>
                    </div>
                    <tbody>
                        <tr ng-repeat="student in info.student | filter: buscador" class="displayInfo" >
                            <td class="text-center" >{{ student.name }}</td>
                            <td class="text-center" >{{ student.pId }}</td>
                            <td class="text-center" >{{ student.email }}</td>
                            <td class="actions col col-md-1">
                                <button class="btn btnEdit col col-md-12" type="button">
                                    <a ui-sref="form-add-teacher" class="col col-md-6" href="/info_Consult.html">
                                        <i class="fa fa-plus fa-2x "></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /input-group -->
        </div>
    </div>
