
    <!--<div class="fullscreen fs-modal" ui-view></div>-->
    <div class=" content container viewInfo center-block">
         <div id="wrapper" class="container">
            <div class="side-bar col-md-3">
                <ul class="ul-profile">
                    <li class="profile-pic">
                        <img src="../images/user.png">
                    </li>
                    <li>Ignacio Trejos</li>
                    <li>000000000</li>
                    <li>itrejos@ucenfotec.ac.cr</li>
                </ul>
            </div>  
        <div class="content col-md-9">
        <div class="col-md-12">  
            <div class="col-md-12">
                <div class="profile-selected">
                    <ul>
                        <li>
                            <p>Decano</p>
                            <div class="arrow-front"></div>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
    </div>
    </div>
