<div id="wrapper" class="container">
    <div class="side-bar col-md-3">
        <ul class="ul-profile">
            <li class="profile-pic">
                <img src="../images/user.png" />
                <a href="#"><i class="fa fa-pencil fa-2x"></i></a>
            </li>
            <li>Administrador</li>
            <li>000000000</li>
            <li>admin@ucenfotec.ac.cr</li>
        </ul>
        <a href="#"><i class="fa fa-pencil fa-2x"></i></a>
    </div>  
    <div class="content col-md-9">
        <div class="col-md-12">
            <div class="profile-selected">
                <ul>
                    <li>
                        <p>Administrador</p>
                        <div class="arrow-front"></div>
                    </li>
                </ul>
            </div>    
        </div>
        <div class="col-md-12">
            <ul class="col col-md-12" >
                <li class="col col-md-6 btn jumbotron" >
                    <h1 class="text-center">
                        <a ui-sref="admin.search" >Search</a>
                    </h1>
                </li>
                <li class="col col-md-6 btn jumbotron" >
                    <h1 class="text-center">
                        <a ui-sref=".register" >Register</a>
                    </h1>
                </li>
            </ul>  
        </div>
    </div> 
</div>