<html lang="en" >
    <head>
        <link href="/stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <meta charset="UTF-8" >
    </head>
<body layout="column" ng-app="qualify">
    <div class="container  content viewInfo center-block">
    <!-- etiquetas -->
    <div class="profile-selected">
        <ul>
            <li>
               <p>Administrador</p>
               <div class="arrow-front"></div>
            </li>
            <li>
                <div class="arrow-back-up"></div>
                <div class="arrow-back-down"></div>
                <p>Calificar Docs</p>
                <div class="arrow-front"></div>
            </li>
        </ul>
    </div> 
    <!-- etiquetas -->
    </div>
    <div class="row col-md-12"><!-- input search -->
        <div class="col-lg-3 pull-right" >
            <input type="text" class="form-control" class="search" type="text" ng-model="buscador" placeholder="Buscar por: Nombre, Cédula, Email.">
        </div><!--/.col-lg-6 -->
    </div><!-- input search -->

    <section class="text-center" ng-controller="dropdownQualify as dpQlf">
        <div class="container dropdown-table">
            <ul class="text-center">
                <li class="row dropdown-header col col-md-12"><!-- titulos -->
                    <ul>
                        <li class="col col-md-4" >
                            <h3>Nombre del Grupo</h3>
                        </li>
                        <li class="col col-md-4" >
                            <h3>Nombre Estudiante</h3>
                        </li>
                    </ul>
                </li> <!--  /titulos -->

      <!--  /info con boton afuera -->
                <li class="col col-md-12 dropdown-body" ng-class="dpQlf.getClass($index)" ng-repeat="group in dpQlf.groups track by $index">
                    <ul class="col col-md-12" ng-repeat="student in group.students"><!-- fila principal y boton-->
                        <li class="col col-md-5">
                            <h5>{{ dpQlf.getCourse(group.course)}}</h5>
                        </li>
                        <li class="col col-md-5">
                            <h5>{{ dpQlf.getStudent(student)}}</h5>
                        </li>
                        <!-- fila -->
                        <li class="col col-md-2 table-actions" >
                            <button class="col col-md-4 btn btnEdit" ng-click="dpQlf.dropdown($index)" type="button">
                                <i class="fa fa-plus fa-2x"></i>
                            </button>
                        </li>
                    </ul><!-- fila principal y boton-->

                    <ul class="col col-md-10 dropdown" >
                        <li class="col col-md-12" ng-repeat="doc in dpQlf.documents">
                            <h2 class="pull-left col-md-5">{{ dpQlf.getDocuments(doc.id)}}</h2>
                            <h5 class="text-center col-md-5">Nota</h5>
                            <button class="pull-right btn btn-qualify col-md-2">Calificar</button>
                        </li>
                    </ul>                       
                </li>
            </ul>
        </div>
  </section>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
  <script src="/scripts/data.js"></script>
  <script src="/scripts/queries.js"></script>
  <script src="/scripts/qualify-documents.js"></script>
</body>
</html>