<div class="container vote-list">
	<div class="row">
		<ul class="list-group">
			<li class="list-group-item col-md-3 team" ng-repeat="team in votesCtrl.teams">
				<ul>
					<li class="control-group border">
						<h1>{{ team }}</h1>
					</li>
					<li class="control-group border"><a href="#">Video</a></li>
					<li class="control-group"><a href="#">Más Información</a></li>
					<li class="control-group"><img src="../images/stars.png" alt=""></li>
					<li class="control-group"><button class="btn-add">Votar</button></li>
				</ul>
			</li>
		</ul>	
	</div>
</div>