<html lang="en" ng-app="menuExample">
  <head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.css">
    <link href="stylesheets/Vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <meta charset="UTF-8" >
  </head>
  <body layout="column">

    <header ng-controller="menuCtrl">
        <img src="images/logoCenfo.png" height="75px" class="login-logo" alt="Cenfotec Logo">
        <md-button ng-click="toggle()"
            class="btn md-raised md-primary pull-right">
            <i class="icon-align-justify"></i>
            Menu
        </md-button>
        <!-- Side Nav -->
            <div layout="column">
                <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sideNav">
                  <md-toolbar class="md-theme-purple">
                    <h1 class="md-toolbar-tools"> 
                        <md-button ng-click="close()" class="md-close-nav">X</md-button>
                        Menú 
                    </h1>
                  </md-toolbar>
                  <md-content class="md-padding">
                    <ul>
                        <li>
                            <h1>Registrar</h1>
                            <ul>
                                <li><a href="#">Carrera</a></li>
                            </ul>   
                        </li>
                    </ul>
                  </md-content>
                </md-sidenav>
            </div>
        <!-- Side Nav Ends -->

    </header>

    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.2/angular-material.min.js"></script>
    <script type="text/javascript">

           angular.module('menuExample', ['ngMaterial'])
                .controller('menuCtrl', function($scope, $timeout, $mdSidenav, $log) {
                    $scope.toggle = function() {
                        $mdSidenav('sideNav').toggle();
                    };
                    $scope.close = function() {
                        $mdSidenav('sideNav').close();
                    };
                });
    </script>
  </body>
</html>