.infoConsult p{
	float: left;
	color: white;
	text-align: center;
}
.rol{
	background-color:#572e91;
    margin-left: 10%;
}
.profesor{
	background-color:#7c2a90 ;
    margin-left: 1%;
} 
.search{
	width: 40%;
}
.divSearch{
	background-color: #dadad9;
	padding-top: 2.5em;
}

.infoTable{
	width: 70%;
	margin: 0 auto;
	padding-top: 2.5em;
}
.infoTable button{
	background-color: black;
}
.dataTable{
	width: 100%;
}
.dataTable{
	border-top: solid;
	border-bottom: solid;	
	border-color: black;
}
